formatVersion: 1
inputs:
  namespace:
    type: string
    title: Namespace
    description: |
      <h4>Namespace</h4> <p>Provide existing namespace name which is used as deployment target</p>
    $data: /data/namespaces?projectId={{project}}
  vm_image_id:
    title: VM image ID
    type: string
    description: the ID of the VM image for building the virtual machine
    $data: /data/namespaceclass-vmimages
  vm_flavor:
    title: VM Size
    type: string
    description: VM Size
    enum:
      - best-effort-xsmall
  app:
    type: string
    title: Name of the App
    description: Name of the App
resources:
  Namespace:
    type: CCI.Supervisor.Namespace
    properties:
      name: ${input.namespace}
      existing: true
  Username_Secret:
    type: CCI.Supervisor.Resource
    properties:
      context: ${resource.Namespace.id}
      manifest:
        apiVersion: v1
        kind: Secret
        metadata:
          name: ${env.deploymentName}-bootstrap-secret
        stringData:
          aviuser-passwd: $1$xITZYmhL$wz6xxzHHCnaZBJFkzfXIz0
  Virtual_Machine_1:
    type: CCI.Supervisor.Resource
    properties:
      context: ${resource.Namespace.id}
      manifest:
        apiVersion: vmoperator.vmware.com/v1alpha5
        kind: VirtualMachine
        metadata:
          name: ${env.deploymentName}-1
          labels:
            app: ${input.app}
        spec:
          className: ${input.vm_flavor}
          image:
            kind: VirtualMachineImage
            name: ${input.vm_image_id} #ID of the VM image to build from
          storageClass: sddc01-cluster-vsan-storage-policy
          powerState: PoweredOn
          bootstrap:
            cloudInit:
              cloudConfig:
                defaultUserEnabled: true
                runcmd:
                  - /usr/bin/apt update
                  - /usr/bin/apt-get install -y apache2 php php-mysql libapache2-mod-php php-cli php-common php-intl php-gd php-mbstring php-xml php-zip php-curl php-xmlrpc unzip open-vm-tools
                users:
                  - name: aviuser
                    passwd:
                      name: ${env.deploymentName}-bootstrap-secret
                      key: aviuser-passwd
                    lock_passwd: false
                    sudo: ALL=(ALL) NOPASSWD:ALL
      wait:
        conditions:
          - type: VirtualMachineCreated
            status: 'True'
  Virtual_Machine_2:
    type: CCI.Supervisor.Resource
    properties:
      context: ${resource.Namespace.id}
      manifest:
        apiVersion: vmoperator.vmware.com/v1alpha5
        kind: VirtualMachine
        metadata:
          name: ${env.deploymentName}-2
          labels:
            app: ${input.app}
        spec:
          className: ${input.vm_flavor}
          image:
            kind: VirtualMachineImage
            name: ${input.vm_image_id} #ID of the VM image to build from
          storageClass: sddc01-cluster-vsan-storage-policy
          powerState: PoweredOn
          bootstrap:
            cloudInit:
              cloudConfig:
                defaultUserEnabled: true
                runcmd:
                  - /usr/bin/apt update
                  - /usr/bin/apt-get install -y apache2 php php-mysql libapache2-mod-php php-cli php-common php-intl php-gd php-mbstring php-xml php-zip php-curl php-xmlrpc unzip open-vm-tools
                users:
                  - name: aviuser
                    passwd:
                      name: ${env.deploymentName}-bootstrap-secret
                      key: aviuser-passwd
                    lock_passwd: false
                    sudo: ALL=(ALL) NOPASSWD:ALL
      wait:
        conditions:
          - type: VirtualMachineCreated
            status: 'True'